<ul class="nav pull-right top-menu">
{% if auth.check %}
    <li><a href="{{ path_for('logout') }}" id="logoutButton" class="logout">Sign Out</a></li>
{% else %}
    <li><button id="loginButton" class="logout" data-toggle="modal" data-target="#loginModal">Sign In</button></li>
    <li><button id="registerButton" class="logout" data-toggle="modal" data-target="#registerModal">Sign Up</button></li>
{% endif %}
</ul>