<form action="{{ path_for('upload') }}" method="post" enctype="multipart/form-data">
	Select image to upload:
	<div>
		<input type="text" name="title" placeholder="Title">
		<input type="hidden" role="uploadcare-uploader" name="upload" data-crop="disabled" data-preview-step="true" data-images-only="true" />
	</div>
	<input type="submit" value="Upload Image" name="submit">
	{{ csrf.field | raw }}
</form>
