/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
#main-content{
    /*max-width: 100%;*/
    overflow-x: hidden;
}
.carousel-inner>.item>img {
  max-width: 450px;
  max-height: 450px;
  margin: 0 auto;
}
#myCarousel{
  max-width: 700px;
}
.jumbotron {
  background-color: skyblue;
  max-width: 700px;
}
#dragupload{
  width: 50px;
}
.carousel-control.right {
  background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0, 0, 0, 0.26) 100%);
}
.carousel-control.left {
  background-image: linear-gradient(to right,rgba(0,0,0,.26) 0,rgba(0,0,0,.0001) 100%);
}

/*table layout - last column*/
table tr td:last-child {
    white-space: nowrap;
    width: 1px;
    text-align:right;
}